<form asp-action="Index">
    <label> Full Name</label>
    <input type="text" name="fuName" placeholder="Enter Full Name"/>
    <input type="email" name="Email" placeholder="Enter Email"/>
    <input type="submit" value="Save"/>
</form>

<h1>@ViewBag.Thongbao</h1>