<div class="w3-container w3-blue">
  <h2>Input Form</h2>
</div>
<!--Nghiem Thi Van ANh - MSV : 2021050078-->
<form asp-action="Index">
  <p>
  <label>PersonID</label>
  <input name=PersonID class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
<!--Nghiem Thi Van ANh - MSV : 2021050078-->
  <label>FullName</label>
  <input name=FullName class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
<input type="submit" value="Save">
<!--Nghiem Thi Van ANh - MSV : 2021050078-->  
</form>
<h1>@ViewBag.thongBao</h1>