<form asp-action="Index">
 <!--Quách kiều trang - 2021050654-->
    <label>Phương Trình Bậc Nhat : ax + b = 0</label><br>
    <label>a = </label><br>
    <input type="text" name="a" required placeholder="Enter a"><br>
    <label>b = </label><br>
    <input type="text" name="b" required placeholder="Enter b"><br>
    <input type="submit" value="Save">
    <br>
<!--Quách kiều trang - 2021050654-->
</form>
<p>@ViewBag.ThongBao</p>