<form asp-action="Index">
<!--Quach Kieu Trang -2021050654-->
    <label>Full Name :</label><br>
    <input type="text" name="FullName"required placeholder="Enter FullName"><br>
    <label>He so luong:</label><br>
    <input type="text" name="HeSoLuong" required placeholder="Enter HeSoLuong"><br>
    <label>luong co ban</label><br>
    <input type="text" name="LuongCB" required placeholder="Enter LuongCoban"><br>
    <label>Phu cap</label><br>
    <input type="text" name="PhuCap" required placeholder="Enter PhuCap"><br>

    <br>
<!--Quach Kieu Trang -2021050654-->
    <input type="submit" value="Save">

    <br>
</form>
<p>@ViewBag.KetQuaTinhLuong</p>